
.badge{
  padding: 4px 8px;
  min-width:64px;
  max-width: 100%;
  font-weight:600;
  line-height:16px;
  cursor:pointer;
  border-radius:7px;
  text-decoration:none;
  font-size: 12px;
  margin: 2px;
  font-family: 'Be Vietnam';
  background-color:var(--background);
  color:var(--color);
  border:var(--border-none);
 transition:var(--transition);

 &:hover{
  background-color:var(--bg-hover);
  color:var(--text-hover);
  box-shadow:var(--shadow-hover);
  border:var(--border-none);

 }
}


