@use "../abstracts" as *;

.avishka-ui--typography {
  
  font-family: "Be Vietnam";
  color: var(--background);


}


.avishka-ui--text-white {
  
  font-family: "Be Vietnam";
  color: #fff;


}


.avishka-ui--text-black {
  
  font-family: "Be Vietnam";
  color: #000;


}
