$colors: (
  primary:(
    10: #C8FACD,
    20: #93F6A7,
    30: #5BE584,
    40: #33CC70,
    50: #00AB55,
    60: #009357,
    70: #007B55,
    80: #00634F,
    90: #005249,
    ),
  red: (
    10: #FFE7D9,
    20: #FFC9B3,
    30: #FFA48D,
    40: #FF8171,
    50: #FF4842,
    60: #DB3039,
    70: #B72136,
    80: #931531,
    90: #7A0C2E,
  ),
  yellow:(
    10: #FFF7CD,
    20: #FFED9B,
    30: #FFE16A,
    40: #FFD545,
    50: #FFC107,
    60: #DBA005,
    70: #B78103,
    80: #936402,
    90: #7A4F01,
    ),
  sky:(
    10: #CDFEF3,
    20: #9BFEF0,
    30: #69FCF3,
    40: #43F6FA,
    50: #07DFF7,
    60: #05AED4,
    70: #0384B1,
    80: #025E8F,
    90: #014476,
    ),
  blue: (
    10: hsl(219, 100%, 80%),
    20: hsl(219, 100%, 70%),
    30: hsl(219, 100%, 60%),
    40: hsl(219, 100%, 50%),
    50: hsl(219, 100%, 40%),
    60: #254EDB,
    70: #1939B7,
    80: #102693,
    90: #091A7A,
  ),
  gray:(
    10: #F9FAFB,
    20: #F4F6F8,
    30: #DFE3E8,
    40: #C4CDD5,
    50: #919EAB,
    60: #637381,
    70: #454F5B,
    80: #212B36,
    90: #161C24,
    )
);
